.slide {
  height: 100%; /* 100% Full-height */
  width:250px; 
  position: fixed; /* Stay in place */
  z-index: 111; /* Stay on top */
  top: -5px; /* Stay at the top */
  /*left: 0;*/
  right:-5px;
  margin:0px;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  -prefix-animation: slide 1s ease 3.5s forwards;
  -webkit-box-shadow: -9px 2px 31px -4px rgba(219,215,219,0.81);
-moz-box-shadow: -9px 2px 31px -4px rgba(219,215,219,0.81);
box-shadow: -9px 2px 31px -4px rgba(219,215,219,0.81);
}


/* The navigation menu links */
.slide a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.slide a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.slide .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {
  transition: margin-left .5s;
  padding: 20px;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .slide {padding-top: 15px;}
  .slide a {font-size: 18px;}
}




