/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');*/

/*@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');*/

/*----------------------Open Sans Font Style Start-------------------------------------*/
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./Fonts/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./Fonts/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./Fonts/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./Fonts/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./Fonts/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./Fonts/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./Fonts/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*------------------------Open Sans Font Style End-----------------------------------*/
/*:root {
  font-size: 16px;
}*/

/*html {
  font-size: 62.5%;
}*/

body {
  /*margin: 0;*/
  /*font-family: 'Source Sans Pro',sans-serif;*/
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*width: 100%;*/
  min-height: 100vh;
  max-height: 100%;
  /* max-width:1600px; */
  /*position: absolute;
    top: 0;
    left: 0;*/
  margin: 0px 4px;
}

span svg {
  font-size: 12px;
  cursor: pointer;
}

/*p{
  font-size: 14px;
}
h3{
  font-size:14px;
  text-transform: uppercase;
  color:#0072C6;
}
h6{
  font-size:13px;
}*/
* {
  scrollbar-width: thin;
  scrollbar-color: #f3f3f3 rgba(201, 201, 201, 1);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  /*background: rgba(201,201,201,1);*/
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(201, 201, 201, 1);
  border-radius: 10px;
  border: 3px solid transparent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #8d8d8d;
  background: #ffffff;
  margin-left: 10px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  background: #ffffff;
  color: #8d8d8d;
  margin-left: 10px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  background: #ffffff;
  color: #8d8d8d;
  margin-left: 10px;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #8d8d8d;
  background: #ffffff;
  margin-left: 10px;
}

/*.PrivateSwitchBase-root-35{
  padding:1px !important;
}*/
/*.PrivateSwitchBase-root-102{
   padding:1px !important;
}*/

#omniapp {
  height: 100vh;
}
